# runtime requirements
attrs
datetime
holidays
tzlocal
python-dateutil
typing-extensions

# test requirements
pytest
pytest-cov
coverage[toml]
pre-commit
flake8
sphinx
tox
xml

# deployment
pip>=19.2.3
wheel>=0.33.6
